{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Информация о чат боте</title>
</head>
<body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/Чат бот.svg' %}" alt="">
            </a>
          </div>
          <nav class="nav">
            <a class="nav__link" href="examples__of__dialogs.html">Примеры диалогов</a>
            <a class="nav__link" href="information__about__bot.html">Информация о чат боте</a>
          </nav>
        </div>
      </div>
    </header>
    <main class="main__information">
      <div class="container">
        <div class="row">
          <h2 class="main__information__title">Информация о чат боте</h2>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="main__information__text">Адаптация студентов к университетской жизни может быть сложной и вызывать 
              проблемы социального и академического характера. Для многих студентов 
              поступление в вуз является переходом к совершенно новой образовательной 
              среде, отличной от школы. Студенты сталкиваются с новыми людьми, 
              разнообразными социальными группами, новыми предметами, большим 
              объемом учебных материалов и высокими требованиями. Некоторые студенты 
              могут испытывать трудности в организации своего времени и эффективном 
              усвоении материала. Это может приводить к стрессу, неуверенности в своих 
              способностях и снижению мотивации. Еще существует проблема, связанная с 
              жизнью в студенческом общежитии. Студенты должны научиться управлять 
              своим временем и бюджетом, поддерживать чистоту и порядок в своей комнате. 
              Чтобы помочь студентам в адаптации к вузу, был разработан данный чат бот.
            </p>
          </div>
          <div class="home__btn">
            <a class="home__btn__link" href="{% url 'home' %}">Начать диалог с ботом</a>
          </div>
        </div>
      </div>
    </main>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
